include CMakeLists.txt
include BSplineX/CMakelists.txt
include BSplineX/cmake/BSplineX*.cmake
include BSplineX/cmake/Config.cmake.in
recursive-include BSplineX/include
include BSplineX/LICENSE
include BSplineX/VERSION

